<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> - Chess Semester</title>
    <link rel="stylesheet" href="css/site.css" />
  </head>
  <body>
    <nav class="navigation_bar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/register">Create Account</a></li>
        <li><a href="/game">Game Download</a></li>
      </ul>
    </nav>

    <div class="main">
      <main>
        This is a simple homepage for now, <br />
        visit the <a href="/register">Registration</a> page.
      </main>
      <footer></footer>
    </div>
  </body>
</html>
